/* button */
.button {
    position: relative;
    z-index: 2;
    isolation: isolate; /* чтобы псевдоэлементы не вылезали наружу */
    @include btn-reset();
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 19.2rem;
    min-height: 5.6rem;
    padding: 1.4rem 4rem;     
    @include Inter();
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-align: center;
    color: $light;
    border-radius: 1.6rem;
    background: linear-gradient(336deg,rgba(28, 103, 1, 1) 0%, rgba(67, 166, 23, 1) 100%);
    z-index: 2;


    &::before,
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        pointer-events: none;
    }


    &::before {        
        inset: 2px;
        border-radius: 14px;    
        pointer-events: none; /* не мешает клику */
        background-image: 
        linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%),
        linear-gradient(176.33deg, #37CB19 7.41%, #21900B 97.22%);
        filter: blur(1px);
    }

    &::after {
        inset: 4px;
        border-radius: 1.1rem;
        background: linear-gradient(176.33deg, #38D319 7.41%, #2BAD10 97.22%);        
    }  



    &:hover,
    &:focus {
        &::before {
            background-image: 
                linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%),
                linear-gradient(176.33deg, #37CB19 7.41%, #21900B 97.22%);
        }
        &::after {
            background: linear-gradient(176.33deg, #37CB19 7.41%, #21900B 97.22%);
        }

    }

    &:active {
        &::before {
            background-image: 
                linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%),
                linear-gradient(176.33deg, #2BAD10 7.41%, #38D319 97.22%);
        }

        &::after {
            background: linear-gradient(176.33deg, #2BAD10 7.41%, #38D319 97.22%);
        }
    }
}