html {
  box-sizing: border-box;
  font-size: 62.5%;  
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include text;
  @include mp();
  background-image: 
    radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 218, 154, 0) 100%),
    radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 218, 154, 0) 100%),
    linear-gradient(rgba(255, 248, 232, 0.59), rgba(255, 248, 232, 0.59)), 
    url(../rays-bg.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center, center, center, center;
  background-size: 
    1607px 1607px, 
    1919px 1919px, 
    cover, 
    cover;
  background-attachment: fixed;
}

body.lock {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

