$sm-width: 320px;
$md-width: 768px;
$lg-width: 1024px;
$mobile-width-only: 1199.98px;
$xl-width: 1200px;
$xxl-width: 1920px;
$dark: #000000;
$light: #ffffff;
$yellow: #FFB60F;
$bg-color: #FFF8E8;
$transition: 0.4s;