/* content */
.content {
    @include container();
    padding-top: 120px;
    padding-bottom: 120px;
    min-height: 100vh;

    &--page-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}