.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%;
    background: rgba(#150E00, 0.75);
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    /*opacity: 0;
    visibility: hidden;*/
    transition: all 0.8s ease 0s;
  
    &--open {
      opacity: 1;
      visibility: visible;
  
      & .modal__content {
        transform: perspective(600px) translate(0px,0%) rotateX(0deg);
        opacity: 1;
      }
    }
  
    &__body {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 20px;
    }
  
    &__content {
      max-width: 800px;
      position: relative;
      background-color: $light;
      color: $dark;      
      width: 100%;      
      transition: all 0.8s ease 0s;
      /*opacity: 0;
      transform: perspective(600px) translate(0px,-100%) rotateX(45deg);*/
      padding: 8rem;
      width: 80rem;    
      border: 12px solid $yellow;
      border-radius: 4.9rem;
      background-color: #FFF3DF;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
      color: $dark;

      &::before,
      &::after {
          content: "";
          position: absolute;
          pointer-events: none;
      }

      &::before {        
          inset: 0;
          border: 1px solid #301F03;
          filter: blur(1px);
          border-radius: 34px;
          
      }

      &::after {
          inset: -8px;
          border: 3px solid rgba(255, 255, 255, 0.74);
          border-radius: 44px;
          filter: blur(2px);
      }
  
    }

    &__title {
        @include mp;
        @include DaysOne();
        font-size: 3.2rem;
        line-height: 4.1rem;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 2.4rem;
    }

    &__text {
        @include mp;
        @include Inter();
        font-size: 2rem;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 4.8rem;
    }

    &__button {
        margin: 0 auto;
    }
  
    &__close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;

        & .icon {
        width: 18px;
        height: 18px;
        }

        & use.icon__symbol {
        stroke: red;
        }
    }
}
  
