.modal {
    position: fixed;
    inset: 0;
    background: rgba(21, 14, 0, 0.75);
    z-index: 1000;    
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    // transition: all 0.8s ease 0s;

    &--error {
      & .modal__content {
        border: 12px solid #FF382B;
      }
    }
  
    &--open {
      opacity: 1;
      visibility: visible;
  
      & .modal__content {
        // opacity: 1;
        // transform: perspective(600px) translate(0px,0%) rotateX(0deg);
      }
    }
  
    &__body {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 56px 110px;
    }
  
    &__content {
      position: relative;   
      width: 100%;
      max-width: 80rem;
      min-height: 505px;
      padding: 8rem;   
      border: 12px solid $yellow;
      border-radius: 4.9rem;
      background-color: #FFF3DF;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
      color: $dark;
      transition: all 0.8s ease 0s;
      // pacity: 0;
      // transform: perspective(600px) translate(0px,-100%) rotateX(45deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      

      &::before,
      &::after {
          content: "";
          position: absolute;
          pointer-events: none;
      }

      &::before {        
          inset: 0;
          border: 1px solid #301F03;
          filter: blur(1px);
          border-radius: 34px;
          
      }

      &::after {
          inset: -8px;
          border: 3px solid rgba(255, 255, 255, 0.74);
          border-radius: 44px;
          filter: blur(2px);
      }
  
    }

    &__title {
        @include mp;
        @include DaysOne();
        font-size: 3.2rem;
        line-height: 4.1rem;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 2.4rem;
    }

    &__text {
        @include mp;
        @include Inter();
        font-size: 2rem;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.02em;
    }
  
    &__close-btn {
        @include btn-reset();
        position: absolute;
        top: 40px;
        right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;

        & .icon {
          width: 32px;
          height: 32px;

          &__color-element {
            fill: #D9C199;
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.25);
          }
        }

        &:hover,
        &:focus {
          & .icon {
            &__color-element {
              fill: #BDA784;

            }
          }
        }

        &:active {
          & .icon {
            &__color-element {
              fill: #D9C199;
            }
          }
        }
    }

    &__form {
      display: flex;

    }

    & .game {
      overflow: hidden;
      width: 100%;
      border: 2px solid #000000;
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
      border-radius: 17.6077px;

      & img {
        width: 100%;
        max-width: unset;
      }
    }
}

/* Снимок экрана 2025-06-13 в 13.00.47 */








