/* main-header */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $dark;
    color: $light;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 13px solid transparent; /* задаём высоту бордера */
    border-image-source: url(../main-header/line.svg); /* путь к изображению */
    border-image-slice: 0 0 100% 0 fill; /* slice 100% по вертикали (или просто 1) */
    border-image-repeat: repeat; /* повтор по ширине */
    border-image-width: 0 0 13px 0; /* только нижний */

    
    &__wrap {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;       
    }

    & .user {
        display: flex;
        align-items: center;
        column-gap: 12px;

        &__name {
            @include DaysOne;
            font-size: 18px;
            line-height: 28px;
            text-decoration: none;
            color: $light;

            &::before {
                content: "ID ";
            }
        }

        button#copy-username {
            @include btn-reset;
            line-height: 0;
            transition: $transition;

            &:hover,
            &:focus {
                transform: scale(1.1);
            }

            & .icon {
                width: 2rem;
                height: 2rem;
                fill: #FFB610;
            }
        }
    }

}