/* main-header */
.main-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: $dark;
    color: $light;
       

    &__border {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 13px;
        background-color: #FFB60F;
        border-top: 3px solid #AC811E;
        border-bottom: 2px solid #AC811E;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            background-color: #FFD982;
            pointer-events: none;
            height: 3px;
            filter: blur(1px);
            z-index: 2;

        }


    }


    
    &__wrap {
        @include container;
        padding-top: 16px;
        padding-bottom: 16px; 
        display: flex;
        justify-content: space-between;
        align-items: center;       
    }

    & .user {
        display: flex;
        align-items: center;
        column-gap: 12px;

        &__name {
            @include DaysOne;
            font-size: 18px;
            line-height: 28px;
            text-decoration: none;
            color: $light;

            &::before {
                content: "ID ";
            }
        }

        button#copy-username {
            @include btn-reset;
            line-height: 0;
            transition: $transition;

            &:hover,
            &:focus {
                transform: scale(1.1);
            }

            & .icon {
                width: 2rem;
                height: 2rem;
                fill: #FFB610;
            }
        }
    }

}
